h3 Why is it Fast, Free and Modern?

.about
  p First of all, <strong>Nepal IT Job Board</strong> is a <strong>fast</strong> tool for connecting the wishes of
    employers with the needs of their future employees. Fast it is indeed as you are only a few clicks away from both your
    job post as well as your dream job. No important time is lost because a time-consuming signing up is
    not necessary – Click on "Post a job", fill out the form and your Ad is posted.

  p Secondly, making use of this website is completely <strong>free</strong> of charge. No ads, no data theft, no hidden
    cost – sounds great, doesn´t it? The non-commercial philosophy of this page is to provide a platform
    for easy access from both sides: those who are looking for a job and those who want to advertise a

  p Striving for a <strong>modern</strong> and therefore efficient platform, we want
    your postings to be up-to-date whenever someone new – bringing the knowledge, education, or job
    offering you have been looking for – joins our community. Be it days, months, years – your job profile
    will be there and visible for those who perfectly fit your post.

  p All in all, <a href="http://nepalitjobs.com/">http://nepalitjobs.com/</a> grants you the possibility to get in touch 
    with your employer-to-be or your future employee. Fast. Free. Modern.p Find me in app/views/pages/about.html.slim
